@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(48, 163, 163, 0.774);
}

header{
    text-align: center;
    margin-bottom: 40px;
}

h3{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}

p{
    background-color: aliceblue;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    width: 600px;
    text-align: justify;
}
article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

img{
    width: 500px;
    margin: 20px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}