body{
    background-color: rgb(93, 143, 187);
    text-align: center;
    align-content: center;
    margin: auto;
}

img{
    width: 400px;
    height: 300px;
}


h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    margin: 0;
}

a{
    text-decoration: none;
    color: aliceblue;
}

nav{
    text-align: center;
}

li{
    list-style: none;
}

h2{
    text-align: center;
    color: rgb(0, 4, 255);
    margin: 0;
    margin-left: 20px;
}

h3{
    font-size: 1.5em;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

ol{
    font-size: 1.1em;
    font-family: cursive;
}
