*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 208, 0);
    text-align: center;
}


img{
    width: 450px;
    height: 390px;
    margin: 20px;
}

li{
    margin: 20px;
    list-style-type: none;
}

.personaje{
    margin-top: 20px;
    font-size: 40px;
}

#titulo{
    font-size: 50px;
    text-align: center;
    color: red;
}

h1:hover{
    color: white;
    transition: 1s;
}

p{
    color: green;
    font-size: 20px;
}